<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lz.framecase">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".logic.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lz.framecase.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--适配全面屏手机-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- 网络框架配置 -->
        <meta-data
            android:name="com.lz.framecase.logic.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ImagePreviewActivity"
            android:theme="@style/imagethem" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.NewDetailActivity" />
        <activity android:name=".activity.NewsCommentActivity" />
        <activity android:name=".activity.VideoPlayerActivity" />
        <activity android:name=".activity.CatgoryActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.FaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.FaceDetailActivity" />
    </application>

</manifest>